 <?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <context-param>
 	<param-name>myweb</param-name>
 	<param-value>day05</param-value>
 </context-param>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>lifeServlet</servlet-name>
    <servlet-class>demo5.lifeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>firservlet</servlet-name>
    <servlet-class>demo5.firservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>demo5.ServletDemo1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VisitServlet</servlet-name>
    <servlet-class>cn.pdsu.servlet.VisitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>cn.pdsu.servlet.ShowServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>lifeServlet</servlet-name>
    <url-pattern>/servlet/lifeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>firservlet</servlet-name>
    <url-pattern>/servlet/firservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/servlet/ServletDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VisitServlet</servlet-name>
    <url-pattern>/servlet/VisitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/servlet/ShowServlet</url-pattern>
  </servlet-mapping>

</web-app>